<div class="d-flex justify-content-center">
  <div class="footer">
    <div class="footer-links">
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-paw"></i> at Le Wagon
    </div>
  </div>
</div>
