<h1 class="title">Check out some of the best humans available</h1>

<div class="row container">
  <% @humans.each do |human| %>
    <div class="col-12 col-md-4">
      <div class="card-human  mx-1">
        <div class="all-description">
          <h6 class="name"><%= human.name %></h6>
          <p class="description"><%= human.description %></p>
          <h6 class="price"><%= human.price %>€</h6>
          <p class="category"><%= human.category %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
