<h1>Ma reservation</h1>
<p><%= @reservation.date %></p>
 <p><%= link_to "delete", reservation_path(@reservation.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<%= link_to "All you're reservation", human_reservations_path(@reservation) %>
