.card-display-card {
  padding: 50px 10px 50px 10px;
  background-color: #D3D3D3;
  margin: 10px 15px 10px 8px;
  border-radius: 8px;
  display: flex;
}

.li {
  text-align: left;
  object-fit: fill;
}


.container {
  width: 80%;
  margin: 0 auto;
  font-size: larger;
}
