.title {
  text-align: center;
  margin: 40px 0 50px 0;
  font-weight: bold;
}

.card {
  margin: 35px 0 35px 0;
  background-color: white;
  padding: 30px 50px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.name {
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.delete {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 5px 17px;
  border-radius: 7px;
  background: #00B894;
  transition: background 0.3s ease;
}

.button {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 5px 17px;
  border-radius: 7px;
  background: #00B894;
  transition: background 0.3s ease;
}

.profile-img {
  display: flex;
  justify-content: center;
  width : 100px; height : 100px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
}

.btn {
  background-color: #00B894;
  text-decoration: none;
  color: white;
  margin-left: 45%;
  border-radius: 8px;
}
